#include <windows.h>
#include "resource.h"

IDD_LOGIN_DIALOG DIALOGEX 0, 0, 260, 135
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "AVAA - Authentication"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Username:", -1, 20, 20, 50, 12
    EDITTEXT        IDC_USERNAME, 80, 18, 155, 14, ES_AUTOHSCROLL
    LTEXT           "Password:", -1, 20, 45, 50, 12
    EDITTEXT        IDC_PASSWORD, 80, 43, 155, 14, ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Login", IDC_LOGIN_BUTTON, 80, 80, 60, 14
    PUSHBUTTON      "Cancel", IDC_CANCEL_BUTTON, 160, 80, 60, 14
END

IDD_ACTIVATE_DIALOG DIALOGEX 0, 0, 320, 110
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "AVAA - Product Activation"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Enter activation code:", -1, 20, 20, 150, 12
    EDITTEXT        IDC_ACTIVATION_CODE, 20, 40, 275, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Activate", IDC_ACTIVATE_BUTTON, 80, 70, 70, 14
    PUSHBUTTON      "Cancel", IDC_ACTIVATE_CANCEL, 165, 70, 70, 14
END